body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.torzs {
    flex: 1;
}
.right{
    align-items: center;
    margin-top: 10%;
}
.loader {
    display: block;
    width: 84px;
    height: 84px;
    position: relative;
  }
  
  .loader:before , .loader:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: #949494;
    transform: translate(-50% , -100%)  scale(0);
    animation: push_401 2s infinite linear;
  }
  
  .loader:after {
    animation-delay: 1s;
  }
  
  @keyframes push_401 {
    0% , 50% {
      transform: translate(-50% , 0%)  scale(1)
    }
  
    100% {
      transform: translate(-50%, -100%) scale(0)
    }
  }

  @media screen and (max-width: 870px){
   body{
    min-height: 120vh;
   }

   .right{
      text-align: center;
      margin-top: 25%;
   }
   @media screen and (max-width: 660px){
    body{
      min-height: 150vh;
     }
   }
  }