.FoKep{
    width: 100%;
    height: 90%;
}

.FoKepDiv{
    height: 20%;
    background-color: rgb(0, 5, 46);
}

.FoDatum{
    color: white;
    margin: 0 auto;
    padding-left: 2%;
}

.FoGombokDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.BlogFoGomb{
    background-color: rgb(235, 73, 73);
    color: white;
    border: 0px;
    border-radius: 3px;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    width: 25%;
    box-sizing: content-box;
    height: 5vh;
    font-size: larger;
    font-weight: bold;
    letter-spacing: 1.2px;
    text-align: left;
}

#BlogRateCsillagokDiv{
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding-right: 1.5vw;
    padding-top: 3%;
    display: none;
}
.BlogRateCsillagIMG{
    width: 10%;
    margin-left: 2%;
}


#uzenet{
    resize: none;
    margin-top: 5%;
    min-width: 100%;
    max-width: 100%;
    min-height: 150px;
    max-height: 150px;
    margin-bottom: 2%;
    padding: 0.5%;
    font-size: x-large;
    color: rgb(70, 70, 70);
}

#CommentFulDiv{
    display: none;
}

#CommentUzi{
    display: none;
    font-size: larger;
    color: darkgray;
}

#BlogShareDiv{
    display: flex;
    justify-content: right;
    column-gap: 3%;
    display: none;
}
.BlogShareIMG{
    width: 8%;
    padding-top: 3%;
    padding-right: 1.33%;
}

.FoSzoveg > span{
    padding-left: 3%;
}

.FoSzoveg > h3{
    font-weight: 600;
}

.BlogFoGomb:hover{
    animation: HoverEffect 0.2s ease-in-out;
    animation-fill-mode:both;
}

.JobbKicsiGomb:hover{
    animation-name: HoverEffect2;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
}

@keyframes HoverEffect{
    from{
        background-color: rgb(235, 73, 73);
    }
    to{
        background-color: rgb(0, 5, 46);
        width: 26%;
        height: 5.2vh;
    }
}

@keyframes HoverEffect2{
    from{
        background-color: rgb(235, 73, 73);
    }
    to{
        background-color: rgb(255, 255, 255);
        color: rgb(235, 73, 73);
    }
}

span{
    font-size: 130%;
}

@media  screen and (max-width: 1150px){
    .FoDiv{
        width: 90%;
    }
}

@media  screen and (max-width: 1065px){
    .FoDiv{
        width: 95%;
    }
}


@media  screen and (max-width: 1010px){
    .FoSzoveg > h2{
        font-size: 130%;
    }
}


@media  screen and (max-width: 930px){
    .FoSzoveg > h2{
        font-size: 110%;
    }
}

@media  screen and (max-width: 905px){
    .FoSzoveg > span{
        font-size: 120%;
    }
}

@media  screen and (max-width: 847px){
    .FoSzoveg > span{
        font-size: 110%;
    }
    .FoSzoveg > h2{
        font-size: 100%;
    }
    .foMenu{
        display: none;
    }

    .stickyteto{
        height: 14vh
    }
    .BlogFoGomb{
        font-size: medium;
    }
}

@media screen and (max-width: 395px) {
    .BlogFoGomb{
        font-size: xx-small;
    }
}