.main{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
    background-image: url("../Weboldal képek/contactusKep 1.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 10em;


}


.elerhetosegek{
    width: 50%;
    padding-right: 10em;
    margin-left: 10%;
}

.urlap{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 40%;
    margin-right: 10%;
    gap: 1em;

}

.contactCim{
    font-size: 40px;
    color: white;
    text-transform: uppercase;
}

.urlap >.contactCim{
    text-align: center;
}

.adatok{
    font-size: large;
    color: white;
}

.tajekoztato{
    font-size: large;
    color: white;
    text-wrap: nowrap;
}

input, #slider, #uzenet{
    width: 100%;
    height: 55px;
    margin-bottom: 8px;
    font-size: 20px;
    box-sizing: border-box;
    background-color: white;
    opacity: .80;
    border-radius: 10px;
}

/*Switch formázása*/
.switch {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 40px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 50px;
    width: 50px;
    top: -5px;
    left: -6px;
    bottom: 4px;
    background-color: rgb(235, 73, 73);
    transition: .4s;
  }

  input:checked + .slider {
    background-color: rgb(235, 73, 73);
  }
  
  input:checked + .slider:before {
    transform: translateX(40px);
  }

  input:checked + .slider:before{
    background-color: white;
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

/*Switch vége (adta Isten)*/


.rendeltE{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1em;
}

#jobb, #bal{
    display: block;
}

.switchesDiv{
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
}


.rendeltP{
    color: white;
    font-weight: 200;
    text-transform: uppercase;
    font-size: larger;
}

/*Értékelés formázása*/
.rating {
    display: inline-block;
  }
  
  .rating input {
    display: none;
  }
  
  .rating label {
    float: right;
    cursor: pointer;
    color: #ffffff;
    transition: color 0.3s;
  }
  
  .rating label:before {
    content: '\2605';
    font-size: 30px;
    font-size: 50px;
    margin-right: 0.2em;
  }
  
  .rating input:checked ~ label,
  .rating label:hover,
  .rating label:hover ~ label {
    color: rgb(235, 73, 73);
    animation-name: ertekelesAnim;
    animation-duration: .5s;
    transition: color 0.3s;
  }
  

@keyframes ertekelesAnim {
    0%{text-shadow: white 3px 3px 3px;}
    100%{text-shadow: rgba(255, 255, 255, 0) 3px 3px 3px;}

}
/*Értékelés formázásának vége*/

.valaszto{
    width: 2px;
    height: 110px;
    background-color: rgb(243, 243, 243);
    border-radius: 3px;
    margin: 0;
}

#uzenet{
    min-width: 100%;
    max-width: 100%;
    min-height: 150px;
    max-height: 150px;
}

.urlap > button{
    align-self: flex-end;
    background-color: rgb(235, 73, 73);
    color: white;
    width: 150px;
    height: 50px;
    font-weight: 600;
    font-size: larger;
    border: 1px solid rgb(235, 73, 73);
    transition: 0.3s;
    letter-spacing: 2px;
    border-radius: 4px;
}
button:hover{
    background-color: white;
    color: rgb(235, 73, 73);
    font-size: 20px
}
/*@media only screen and (min-height: 900px) {
    footer{
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
    }
  }*/

@media screen and (min-height: 1500px){

  footer{
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .main{
    padding-bottom: 40em;
  }
}



@media screen and (max-width: 1410px){

  .rendeltE{
    flex-direction: column;
  }

  .valaszto{
    width: 330px;
    height: 2px;
  }
}

@media screen and (max-width: 1080px){
  .main{
    flex-direction: column;
    align-items: center;
  }

  .urlap{margin-right: 0;
  }

  .elerhetosegek{
    padding: 0;
    margin: 0;
    text-align: center;
  }
}


@media screen and (max-width: 870px){
  .urlap{
      width: 90%;
  }
  .tajekoztato{
      font-size: 150%;
  }
  
  #SendGomb{
      width: 90%;
      margin-top: 2%;
      font-size: 200%;
      align-self: center;
  }
}