.main{
    display: flex;
    flex-direction:column;
}


.couponIMGDiv{
    min-width: 320px;
    height: 300px;
    box-shadow: 0px 0px 5px black;
    overflow: hidden;
    background-size: cover;
}

.couponIMGDiv::after{
    background-color: black ;
    opacity: 0.4;
}

.couponMain{

    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0px 0px 1em rgb(160, 160, 160);
    margin-top: 10px;
    margin-bottom: 10px;
    height: fit-content;

}



.couponLeiras{
    margin-left: 2em;
    width: 90%;
    margin-right: 5%;
    text-align: justify; 
}

h1 {
    border-bottom: 1px solid gray;
    font-size: 40px;
    color: black;
    display: block;
  }
  
  h1::after {
    content: '';
    border-bottom: 3px solid orangered;
    display: block;
    margin-bottom: -1px;
    max-width: 3vw;
    padding-top: 0.5%;
    margin-left: -10px;

  }

.couponCim{
    margin-left: 10px;
}

.couponSzovegDiv{
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 100%;
}
.couponBTN{
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    margin-right: 10%;
    width: 210px;
    height: 70px;
    color: white;
    background-color: rgb(235, 73, 73);
    border: white 1px solid;
    border-radius: 3px;
    transition: 0.3s ;
    text-align: center;

    position: relative;
    top: 61%;
    bottom: -40px;
    left: 20px;
}

.couponBTN:hover{
    background-color: white ;
    color: rgb(235, 73, 73);
    font-size: 21px;
    border-color: white;
}

.couponLearazas{
    position: relative;
    bottom: 40%;
    left: 3%;
    z-index: 999;
    font-size: 50px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.479);
}


@media only screen and (max-width: 1000px){
    .couponMain{
        flex-wrap: wrap; 
        flex-direction: column;
        align-items: center;
        overflow: hidden;    
        
    }

    .couponBTN{
        margin: 0 auto;
        margin-bottom: 50px;
    }

    h1{
        margin: 0 auto;
        text-align: center;
        margin-bottom: 50px;
        width: 98.5%;
    }

    .couponIMGDiv{
        margin-right: 1em;
    }

    .couponLeiras{
        margin: 0 auto;
        margin-bottom: 1em;
        text-align: justify;
        text-align-last: center;
    }
}

@media only screen and (max-width: 870px){

    .couponMain{
        flex-direction: column;
        justify-content: center;
    }
    .couponIMGDiv{
        margin-right: 0;
        width: 100%;
    }
    .couponBTN{
        width: 90%;
    }
    .couponCim{
        font-size: 35px;
        margin: 0 auto;
        width: 100%;
    }

    h1{
        width: 95%;
    }
}

@media only screen and (max-width: 400px){
    .couponSzovegDiv{
        display: block;
        margin-left: -30px;
    }

    .couponBTN{
        width: 70%;
    }
}

@media only screen and (max-width: 374px){
    .couponSzovegDiv{
        display: block;
        margin-left: -40px;
    }
}
