body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}


.tartalom {
  margin: auto;
}
.banner {
  position: relative;
  text-align: center;
  overflow: hidden;
  background-image: url("./Home képek/OUR-COMPANY_HISTORY.jpg");
  padding-top: 2%;
  padding-bottom: 2%;
  background-repeat: no-repeat;
  background-size:cover;
  margin-right: auto;
  display: flex;
  align-items: center;
}

.js-animate-element,
.fastest,
.shipping {
    opacity: 0;
    transform: translatey(50px);
    transition: all 0.8s ease-in-out;
}

.js-animate-element.visible,
.fastest.visible,
.shipping.visible {
    opacity: 1;
    transform: translateX(0);
}

.fastest h1{
  text-align: center;
  font-weight: 100;
  margin-left: 10%;
  margin-right: 10%;
  font-size: xxx-large;

}


.banner-btn{
  background-color: rgb(235, 73, 73);
  color: white;
  padding: 10%;
  font-size:x-large;
  transition: all 0.5s ease-in-out;
}
.banner-btn:hover{
  background-color: rgb(255, 174, 174);
  opacity: 0.9;
}
.slider-banner {
    top: 50%;  
    position: relative;
    background-color: rgba(13, 13, 43, 0.8); 
    color: white;
    padding: 20px;
    width: 90%; 
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    max-width: 350px; 
    text-align: center;
    border: 2px solid rgba(255, 255, 255, 0.2);
    font-size: xx-large;
}
.announcement {
  background-color: rgb(235, 73, 73);
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 2%;
  margin-bottom: 2%;
  height: 100%;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  font-size: xxx-large;

}





.announcement p {
  white-space: nowrap;
  animation: marquee 10s linear infinite;
}


.categories {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin-left: 10%;
  margin-right: 10%;
}

.category:hover{
  background-color: rgb(209, 209, 209);
  opacity: 0.5;

  
}
.category img {
  width: 100%;
  max-width: 300px;
}
.category{
  transition: all 0.5s ease-in-out;
}

a:link{
  text-decoration: none;
}
a{
  color: black;
}

.offer {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}




.shipping {
  display: flex;
  color: rgb(0, 0, 0);
  justify-content: space-between;
  gap: 20px;
  margin-left: 11%;
  margin-right: 10%;
  font-size: xx-large;
  padding-top: 5%;
  padding-bottom:5%;

}


#transport{
  margin-left: 35%;
}

.shipping img {
  width: 300px;
}
/*Szimpi reszponz*/
@media (min-width:1257px){
  .slider-banner{
    left: 5%;
  }
}
@media (max-width:1257px){
  .slider-banner {
    align-items: center;
      top: 5%;
      transform: translateY(0%);
      font-size: x-large;
      margin-left: auto;
    margin-right: auto;
  }
  .shipping.visible{
    align-items: center;
  }
  #transport{
    align-items: center;
    margin-left: 0;
  }
}
/* Tablet nézet */
@media (max-width: 1024px) {
  .slider-banner {
    align-items: center;
      transform: translateY(0%);
  }
  .banner-btn{
    font-size: large;
  }
  .categories {
      flex-direction: column;
      gap: 20px;
  }
  .shipping {
      flex-direction: column;
      text-align: center;
  }
}

/* Mobil nézet */
@media (max-width: 660px) {
  .slider-banner {
      align-items: center;
    width: 80%;
    height: 350px;
    padding-bottom:100px;
    font-size: x-large;
    margin-left: auto;

    margin-right: auto;
}
  .announcement p {
      animation-duration: 15s;
  }
  .banner-btn{
    font-size: larger;

  }
  .categories {
      flex-direction: column;
      gap: 30px;
  }
  .shipping {
      flex-direction: column;
      text-align: center;
      gap: 15px;
  }
}