
.cart-icon-container {
    position: relative;
    margin-right: 0%;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.kosar-item {
    display: flex;
  align-items: center;
  gap: 15px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  margin-top: 2%;
}
.tartalom{
    margin: 0;
    min-height:58vh;
}
.kosar-item img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}
.checkout-gomb {
    padding: 10px 20px;
    font-weight: bold;
    background-color: rgb(235, 73, 73);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.checkout-gomb:hover {
    background-color: rgb(200, 50, 50);
}
#checkout-container {
    gap: 20px;
  }
.cart-icon-container {
    position: absolute;
}

#cart-icon {
    width: 35px;
}
#paypal-button-container{
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 2%;
}
